src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9aa06707-db1b-426a-b7d5-57386c341cb6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="cf6f74c0-9dc8-4b97-92b2-5b1b653cdf2c" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="postCustomer" doc:id="83a29a90-ff3c-43d0-a742-eb08fbf66cc8" >
		<set-payload value='#["Message": "Customer add successful"]' doc:name="Set Payload" doc:id="a08c6c5e-9efe-458a-a23b-e77d02e7d927" />
		<ee:transform doc:name="Transform Message" doc:id="b6e3fa94-9054-46ad-b824-ae297a92237e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCustomer" doc:id="8853dffe-4e0d-4d6f-bfc0-3ae1db5629c2">
		<db:select doc:name="Select" doc:id="9e71ed58-ceb4-4a55-af81-f527acdda44c" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * 
FROM flights_customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ea4baf3b-bce3-456b-a50c-d2cd38e222b2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ (payload01.city default "")) ++ (payload01.state default "")) ++ (payload01.postal default "")) ++ (payload01.country default ""),
	airMiles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCustomerByID" doc:id="bfc05271-4079-432e-834e-b224474c5efb">
		<db:select doc:name="Select" doc:id="d1c426c6-f66b-4cb1-8e23-c188f6fd66db" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * 
FROM flights_customers
WHERE accountID = :ID ]]></db:sql>
			<db:input-parameters><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cee2f5c6-90ab-40fc-ab3a-135918fe66c5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ (payload01.city default "")) ++ (payload01.state default "")) ++ (payload01.postal default "")) ++ (payload01.country default ""),
	airMiles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
